---
layout: default
title: Home
description: Hi! I'm Shishir Subedi, a software engineer and astrology researcher. Currently I'm pursuing masters in computer engineering specialization in Data science and analytics at Institute of Engineering Pulchowk Campus. I also write blogs and make videos on the topics I knew about tech and astrology.
image: /static/img/about/shishir2.jpg
---

{% include home_header.html %}
<!-- Home -->
<section id="home">
  <div id="home-cover" class="bg-parallax">
    <div id="home-content-box">
      <div id="home-heading">
        <h1 class="wow bounceInDown animated" data-wow-delay="0.5s">
          Namaste!
        </h1>
        <h4 class="wow flipInX center animated" data-wow-delay="1.4s">
          Welcome to my site, you can also find me at ...
        </h4>
        <ul class="social-list">
          <li class="wow fadeInRight animated" data-wow-delay="3.2s">
            <a href="https://facebook.com/shishir.subedi1" id="facebook-icon" target="_blank"><i
                class="fa fa-facebook"></i></a>
          </li>
          <li class="wow fadeInRight animated" data-wow-delay="2.9s">
            <a href="https://twitter.com/_shishir_subedi" id="twitter-icon" target="_blank"><i
                class="fa fa-twitter"></i></a>
          </li>
          <li class="wow fadeInRight animated" data-wow-delay="2.6s">
            <a href="https://www.linkedin.com/in/shishir-subedi" id="linkedin-icon" target="_blank"><i
                class="fa fa-linkedin"></i></a>
          </li>
          <li class="wow fadeInRight animated" data-wow-delay="2.3s">
            <a href="https://github.com/ccir41/" id="github-icon" target="_blank"><i class="fa fa-github"></i></a>
          </li>
          <li class="wow fadeInRight animated" data-wow-delay="2.0s">
            <a href="https://instagram.com/_shishir_subedi" id="instagram-icon" target="_blank"><i
                class="fa fa-instagram"></i></a>
          </li>
          <li class="wow fadeInRight animated" data-wow-delay="1.7s">
            <a href="https://stackoverflow.com/users/11040735/shishir-subedi" id="stackoverflow-icon" target="_blank"><i
                class="fa fa-stack-overflow"></i></a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
<!--End Home-->

<canvas id="space"></canvas>
<!--About Section-->
<section class="py-5" id="about">
  <div class="wow fadeIn animated" data-wow-delay="0.4s">
    <div class="text-center content-title">
      <h3 class="my-2 pt-5">About Me</h3>
      <div class="mx-auto title-underline"></div>
    </div>
    <div class="container">
      <div class="row py-5">
        <div class="offset-md-1 col-md-10">
          <div class="row">
            <div class="offset-md-1 col-md-4 pt-4 text-center">
              <img src="{{ site.url}}{{ site.baseurl}}/static/img/about/shishir-subedi.jpeg" class="img-fluid rounded-circle wow pulse animated"
                data-wow-iteration="infinite" data-wow-duration="8s" style="width: 80%" />
            </div>
            <div class="offset-md-1 col-md-6 pt-4">
              <div class="about-desc">
                <div class="about-1">
                  <span class="font-monospace fw-normal fs-5 py-4">Who Am I?</span>
                  <p>
                    Hi I'm Shishir Subedi,
                    I'm a software engineer @TechKunja and astrology researcher. I completed my bachelor's in
                    electronics and communication engineering from Institute of
                    engineering Pulchowk Campus. During the course of study, when I studied
                    data mining as elective subject, I got really interested knowing the power of data, how the data is driving the world at present.
                    From that moment, I came to know where I'm interested in and should make the career at; which eventuallly drives me pursuing
                    masters degree in Data Science and Analytics.
                  </p>
                </div>
                <div class="about-2">
                  <span class="font-monospace fw-normal fs-5 py-4">What I do?</span>
                  <div>
                    <h6>
                      &nbsp;&nbsp;&nbsp;<span><i class="fa fa-hand-o-right mr-1" aria-hidden="true" style="vertical-align: middle"></i>&nbsp;&nbsp;Web Application Development</span>
                    </h6>
                    <h6>
                      &nbsp;&nbsp;&nbsp;<span><i class="fa fa-hand-o-right mr-1" aria-hidden="true" style="vertical-align: middle"></i>&nbsp;&nbsp;Web Scraping</span>
                    </h6>
                    <h6>
                      &nbsp;&nbsp;&nbsp;<span><i class="fa fa-hand-o-right mr-1" aria-hidden="true" style="vertical-align: middle"></i>&nbsp;&nbsp;Deploy application to cloud</span>
                    </h6>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!--About End-->

<!-- Skills -->
<section class="py-5" id="skills">
  <div class="wow fadeIn animated" data-wow-delay="0.4s">
    <div class="text-center content-title">
      <h3 class="my-2 pt-5">My Skills</h3>
      <div class="mx-auto title-underline"></div>
    </div>
    <div class="container">
      <div class="row py-5">
        <div class="offset-md-1 col-md-10">
          <div class="row">
            <div class="col-md-5 pt-4">
              <div class="about-desc">
                <span class="font-monospace fw-normal fs-5 py-4">What my skills are?</span>
                <p>
                  I have been doing software development for past 2 and half year
                  during these interval I'm able to gain some experience in
                  the programming language and framework popular for software
                  development.
                </p>
              </div>
            </div>
            <div class="offset-md-1 col-md-6">
              <div class="row pl-4" id="progress-elements">
                <div class="col-md-12">
                  <div class="progress-wrap">
                    <h3>Python</h3>
                    <div class="progress">
                      <div class="progress-bar color-1" role="progressbar" aria-valuenow="80" aria-valuemin="0"
                        aria-valuemax="100" style="width: 0%">
                        <span>80%</span>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-12">
                  <div class="progress-wrap mt-2">
                    <h3>Django</h3>
                    <div class="progress">
                      <div class="progress-bar color-2" role="progressbar" aria-valuenow="85" aria-valuemin="0"
                        aria-valuemax="100" style="width: 0%">
                        <span>85%</span>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-12">
                  <div class="progress-wrap mt-2">
                    <h3>Databases</h3>
                    <div class="progress">
                      <div class="progress-bar color-3" role="progressbar" aria-valuenow="75" aria-valuemin="0"
                        aria-valuemax="100" style="width: 0%">
                        <span>75%</span>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-12">
                  <div class="progress-wrap mt-2">
                    <h3>Bootstrap</h3>
                    <div class="progress">
                      <div class="progress-bar color-4" role="progressbar" aria-valuenow="90" aria-valuemin="0"
                        aria-valuemax="100" style="width: 0%">
                        <span>90%</span>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-12">
                  <div class="progress-wrap mt-2">
                    <h3>HTML5/CSS3/JS</h3>
                    <div class="progress">
                      <div class="progress-bar color-5" role="progressbar" aria-valuenow="70" aria-valuemin="0"
                        aria-valuemax="100" style="width: 0%">
                        <span>70%</span>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-12">
                  <div class="progress-wrap mt-2">
                    <h3>Cloud Services (AWS)</h3>
                    <div class="progress">
                      <div class="progress-bar color-6" role="progressbar" aria-valuenow="65" aria-valuemin="0"
                        aria-valuemax="100" style="width: 0%">
                        <span>65%</span>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-12">
                  <div class="progress-wrap mt-2">
                    <h3>ReactJS</h3>
                    <div class="progress">
                      <div class="progress-bar color-1" role="progressbar" aria-valuenow="60" aria-valuemin="0"
                        aria-valuemax="100" style="width: 0%">
                        <span>60%</span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- End Skills -->

<!-- Tech Stack and Tools-->
<section class="py-5" id="stack">
  <div class="wow fadeIn animated" data-wow-delay="0.4s">
    <div class="text-center content-title">
      <h3 class="my-2 pt-5">Tech Stack</h3>
      <div class="mx-auto title-underline"></div>
    </div>
    <div class="container">
      <div class="row my-5">
        <div class="offset-md-1 col-md-10">
          <div class="row g-4">
            <div class="col-md-2 col-3 wow fadeIn animated" data-wow-delay="0.7s">
              <a href="https://www.python.org/" target="_blank">
                <img src="{{ site.url}}{{ site.baseurl}}/static/img/techstack/python.svg" class="img-fluid p-md-2 p-lg-3 techstack-image" />
              </a>
            </div>
            <div class="col-md-2 col-3 wow fadeIn animated" data-wow-delay="1.0s">
              <a href="https://www.djangoproject.com/" target="_blank">
                <img src="{{ site.url}}{{ site.baseurl}}/static/img/techstack/django.svg" class="img-fluid p-md-2 p-lg-3 techstack-image" />
              </a>
            </div>
            <div class="col-md-2 col-3 wow fadeIn animated" data-wow-delay="1.3s">
              <a href="https://reactjs.org/" target="_blank">
                <img src="{{ site.url}}{{ site.baseurl}}/static/img/techstack/react.svg" class="img-fluid p-md-2 p-lg-3 techstack-image" />
              </a>
            </div>
            <div class="col-md-2 col-3 wow fadeIn animated" data-wow-delay="1.6s">
              <a href="https://www.elastic.co/elasticsearch/" target="_blank">
                <img src="{{ site.url}}{{ site.baseurl}}/static/img/techstack/elasticsearch.svg" class="img-fluid p-md-2 p-lg-3 techstack-image" />
              </a>
            </div>
            <div class="col-md-2 col-3 wow fadeIn animated" data-wow-delay="1.9s">
              <a href="https://www.mysql.com/" target="_blank">
                <img src="{{ site.url}}{{ site.baseurl}}/static/img/techstack/mysql.svg" class="img-fluid p-md-2 p-lg-3 techstack-image" />
              </a>
            </div>
            <div class="col-md-2 col-3 wow fadeIn animated" data-wow-delay="2.2s">
              <a href="https://www.postgresql.org/" target="_blank">
                <img src="{{ site.url}}{{ site.baseurl}}/static/img/techstack/postgresql.svg" class="img-fluid p-md-2 p-lg-3 techstack-image" />
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="py-5" id="tools">
  <div class="wow fadeIn animated" data-wow-delay="0.6s">
    <div class="text-center content-title">
      <h3 class="my-2 pt-5">Tools</h3>
      <div class="mx-auto title-underline"></div>
    </div>
    <div class="container">
      <div class="row pt-2 my-5">
        <div class="offset-md-1 col-md-10">
          <div class="row g-4">
            <div class="col-md-2 col-3 wow fadeIn animated" data-wow-delay="0.8s">
              <a href="https://aws.amazon.com/" target="_blank">
                <img src="{{ site.url}}{{ site.baseurl}}/static/img/techstack/aws.svg" class="img-fluid p-md-2 p-lg-3 techstack-image" />
              </a>
            </div>
            <div class="col-md-2 col-3 wow fadeIn animated" data-wow-delay="1.1s">
              <a href="https://git-scm.com/" target="_blank">
                <img src="{{ site.url}}{{ site.baseurl}}/static/img/techstack/git.svg" class="img-fluid p-md-2 p-lg-3 techstack-image" />
              </a>
            </div>
            <div class="col-md-2 col-3 wow fadeIn animated" data-wow-delay="1.4s">
              <a href="https://www.docker.com/" target="_blank">
                <img src="{{ site.url}}{{ site.baseurl}}/static/img/techstack/docker.svg" class="img-fluid p-md-2 p-lg-3 techstack-image" />
              </a>
            </div>
            <div class="col-md-2 col-3 wow fadeIn animated" data-wow-delay="1.7s">
              <a href="https://trello.com/" target="_blank">
                <img src="{{ site.url}}{{ site.baseurl}}/static/img/techstack/trello.svg" class="img-fluid p-md-2 p-lg-3 techstack-image" />
              </a>
            </div>
            <div class="col-md-2 col-3 wow fadeIn animated" data-wow-delay="2.0s">
              <a href="https://jekyllrb.com/" target="_blank">
                <img src="{{ site.url}}{{ site.baseurl}}/static/img/techstack/jekyll.svg" class="img-fluid p-md-2 p-lg-3 techstack-image" />
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Tech Stack and Tools-->

<!-- Education -->
<section class="py-5" id="educations">
  <div class="container wow fadeIn animated" data-wow-delay="0.4s">
    <div class="row">
      <div class="col-md-8">
        <div class="text-center content-title">
          <h3 class="my-2 pt-5">Educations</h3>
          <div class="mx-auto title-underline"></div>
        </div>
        <div class="container">
          <div class="row py-5">
            <div>
              <div class="row">
                <div class="col-md-12">
                  <div class="timeline-centered">
                    <article class="timeline-entry">
                      <div class="timeline-entry-inner">
                        <div class="timeline-icon color-5">
                          <i class="fa fa-graduation-cap"></i>
                        </div>
                        <div class="timeline-label">
                          <h2>
                            MSc Data Science and Analytics
                            <span class="font-monospace">&nbsp;2020 - Present</span>
                          </h2>
                          <div class="about-experience">
                            <span style="font-size: 1rem;">IOE Pulchowk Campus</span>
                          </div>
                        </div>
                      </div>
                  </div>
                  </article>
                </div>
                <div class="timeline-centered">
                  <article class="timeline-entry">
                    <div class="timeline-entry-inner">
                      <div class="timeline-icon color-2">
                        <i class="fa fa-graduation-cap"></i>
                      </div>
                      <div class="timeline-label">
                        <h2>
                          BE Electronics and Communication Engineering
                          <span class="font-monospace">&nbsp;2014 - 2018</span>
                        </h2>
                        <div class="about-experience">
                          <span style="font-size: 1rem;">IOE Pulchowk Campus</span>
                        </div>
                      </div>
                    </div>
                  </article>
                </div>
                <div class="timeline-centered">
                  <article class="timeline-entry">
                    <div class="timeline-entry-inner">
                      <div class="timeline-icon color-4">
                        <i class="fa fa-graduation-cap"></i>
                      </div>
                      <div class="timeline-label">
                        <h2>
                          +2 Science Stream
                          <span class="font-monospace">&nbsp;2011 - 2013</span>
                        </h2>
                        <div class="about-experience">
                          <span style="font-size: 1rem;">Padmodaya Public Model Higher Seconday School</span>
                        </div>
                      </div>
                    </div>
                </div>
                </article>
              </div>
              <div class="timeline-centered">
                <article class="timeline-entry">
                  <div class="timeline-entry-inner">
                    <div class="timeline-icon color-1">
                      <i class="fa fa-graduation-cap"></i>
                    </div>
                    <div class="timeline-label">
                      <h2>
                        SLC
                        <span class="font-monospace">&nbsp;2011</span>
                      </h2>
                      <div class="about-experience">
                        <span style="font-size: 1rem;">Hindu Vidya Peeth Nepal</span>
                      </div>
                    </div>
                  </div>
              </div>
              </article>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- End Education-->

<!-- Work Experiences -->
<section class="py-5" id="experiences">
  <div class="container wow fadeIn animated" data-wow-delay="0.4s">
    <div class="row">
      <div class="offset-md-4 col-md-8">
        <div class="text-center content-title">
          <h3 class="my-2 pt-5">Experiences</h3>
          <div class="mx-auto title-underline"></div>
        </div>
        <div class="container">
          <div class="row py-5">
            <div>
              <div class="row">
                <div class="col-md-12">
                  <div class="timeline-centered">
                    <article class="timeline-entry">
                      <div class="timeline-entry-inner">
                        <div class="timeline-icon color-1">
                          <i class="fa fa-clock-o"></i>
                        </div>
                        <div class="timeline-label">
                          <h2>
                            Software Engineer
                            <span class="font-monospace">Sep 2021 - Present</span>
                          </h2>
                          <div class="about-experience">
                            <span style="font-size: 1.2rem;">Roles and Responsibilities</span>
                            <h5>
                              &nbsp;&nbsp;&nbsp;
                              <span>
                                <i class="fa fa-dot-circle-o" aria-hidden="true" style="vertical-align: middle"></i>
                                &nbsp;&nbsp;Requirements gathering and system analysis
                              </span>
                            </h5>
                            <h5>
                              &nbsp;&nbsp;&nbsp;
                              <span>
                                <i class="fa fa-dot-circle-o" aria-hidden="true" style="vertical-align: middle"></i>
                                &nbsp;&nbsp;API development (REST/GraphQL)
                              </span>
                            </h5>
                            <h5>
                              &nbsp;&nbsp;&nbsp;
                              <span>
                                <i class="fa fa-dot-circle-o" aria-hidden="true" style="vertical-align: middle"></i>
                                &nbsp;&nbsp;Writing scripts for task scheduling and automation
                              </span>
                            </h5>
                            <h5>
                              &nbsp;&nbsp;&nbsp;
                              <span>
                                <i class="fa fa-dot-circle-o" aria-hidden="true" style="vertical-align: middle"></i>
                                &nbsp;&nbsp;Handling all stages from developement to production
                              </span>
                            </h5>
                          </div>
                        </div>
                      </div>
                    </article>
                  </div>
                  <div class="timeline-centered">
                    <article class="timeline-entry">
                      <div class="timeline-entry-inner">
                        <div class="timeline-icon color-5">
                          <i class="fa fa-clock-o"></i>
                        </div>
                        <div class="timeline-label">
                          <h2>
                            Freelance Software Engineer
                            <span class="font-monospace">Nov 2019 - Sep 2021</span>
                          </h2>
                          <div class="about-experience">
                            <span style="font-size: 1.2rem;">Roles and Responsibilities</span>
                            <h5>
                              &nbsp;&nbsp;&nbsp;
                              <span>
                                <i class="fa fa-dot-circle-o" aria-hidden="true" style="vertical-align: middle"></i>
                                &nbsp;&nbsp;Building web-based applications based mainly on Python (Django)
                              </span>
                            </h5>
                            <h5>
                              &nbsp;&nbsp;&nbsp;
                              <span>
                                <i class="fa fa-dot-circle-o" aria-hidden="true" style="vertical-align: middle"></i>
                                &nbsp;&nbsp;API development using django-rest-framework
                              </span>
                            </h5>
                            <h5>
                              &nbsp;&nbsp;&nbsp;
                              <span>
                                <i class="fa fa-dot-circle-o" aria-hidden="true" style="vertical-align: middle"></i>
                                &nbsp;&nbsp;Scraping and parsing data from the web
                              </span>
                            </h5>
                            <h5>
                              &nbsp;&nbsp;&nbsp;
                              <span>
                                <i class="fa fa-dot-circle-o" aria-hidden="true" style="vertical-align: middle"></i>
                                &nbsp;&nbsp;Handling all stages from developement to production
                              </span>
                            </h5>
                          </div>
                        </div>
                      </div>
                    </article>
                  </div>
                  <div class="timeline-centered">
                    <article class="timeline-entry">
                      <div class="timeline-entry-inner">
                        <div class="timeline-icon color-3">
                          <i class="fa fa-clock-o"></i>
                        </div>
                        <div class="timeline-label">
                          <h2>
                            Part time lecturer
                            <span class="font-monospace">May 2019 - Nov 2019</span>
                          </h2>
                          <div class="about-experience">
                            <span style="font-size: 1.2rem;">Roles and Responsibilities</span>
                            <h5>
                              &nbsp;&nbsp;&nbsp;
                              <span>
                                <i class="fa fa-dot-circle-o" aria-hidden="true" style="vertical-align: middle"></i>
                                &nbsp;&nbsp;Delivering regular lectures of Artificial Intelligence and Data Mining
                              </span>
                            </h5>
                            <h5>
                              &nbsp;&nbsp;&nbsp;
                              <span>
                                <i class="fa fa-dot-circle-o" aria-hidden="true" style="vertical-align: middle"></i>
                                &nbsp;&nbsp;Conducting tutorial sessions and laboratory classes of above mentioned
                                subjects
                              </span>
                            </h5>
                          </div>
                        </div>
                      </div>
                    </article>
                  </div>
                  <div class="timeline-centered">
                    <article class="timeline-entry">
                      <div class="timeline-entry-inner">
                        <div class="timeline-icon color-2">
                          <i class="fa fa-clock-o"></i>
                        </div>
                        <div class="timeline-label">
                          <h2>
                            Full Stack Python Developer
                            <span class="font-monospace">Feb 2019 - July 2019</span>
                          </h2>
                          <div class="about-experience">
                            <span style="font-size: 1.2rem;">Roles and Responsibilities</span>
                            <h5>
                              &nbsp;&nbsp;&nbsp;
                              <span>
                                <i class="fa fa-dot-circle-o" aria-hidden="true" style="vertical-align: middle"></i>
                                &nbsp;&nbsp;Building web-based applications based on Python(Django)
                              </span>
                            </h5>
                            <h5>
                              &nbsp;&nbsp;&nbsp;
                              <span>
                                <i class="fa fa-dot-circle-o" aria-hidden="true" style="vertical-align: middle"></i>
                                &nbsp;&nbsp;Scraping and parsing data from the web
                              </span>
                            </h5>
                          </div>
                        </div>
                      </div>
                    </article>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- End Work Experiences-->

<!-- Projects -->
<section class="py-5" id="projects">
  <div class="wow fadeIn animated" data-wow-delay="0.4s">
    <div class="text-center content-title">
      <h3 class="my-2 pt-5">Projects</h3>
      <div class="mx-auto title-underline"></div>
    </div>
    <div class="container">
      <div class="row py-3">
        <div class="col-md-12">
          <div class="row">
            <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4 card-container">
              <div class="col blog-card">
                <div class="card bg-dark custom-card">
                  <div class="card bg-dark custom-card blog-card">
                    <img src="{{ site.url}}{{ site.baseurl}}/static/img/projects/institute.png" class="card-img-top p-1" alt="Institute App">
                    <div class="card-body">
                      <h5 class="card-title d-inline-block">Institute App</h5>
                      <hr class="mx-auto" />
                      <p class="card-text">A native mobile app for student where student can read newsletters, can
                        download handsout and can give online exams.</p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col blog-card">
                <div class="card bg-dark custom-card">
                  <div class="card bg-dark custom-card blog-card">
                    <img src="{{ site.url}}{{ site.baseurl}}/static/img/projects/blog.png" class="card-img-top p-1" alt="Personal Blog">
                    <div class="card-body">
                      <h5 class="card-title d-inline-block">Personal Blog Site</h5>
                      <hr class="mx-auto" />
                      <p class="card-text">Personal blog site made with python django and hosted at pythonanywhere for free.</p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col blog-card">
                <div class="card bg-dark custom-card">
                  <div class="card bg-dark custom-card blog-card">
                    <img src="{{ site.url}}{{ site.baseurl}}/static/img/projects/quiz.png" class="card-img-top p-1" alt="Quiz App">
                    <div class="card-body">
                      <h5 class="card-title d-inline-block">Quiz App</h5>
                      <hr class="mx-auto" />
                      <p class="card-text">Simple quiz web application made with python django.</p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col blog-card">
                <div class="card bg-dark custom-card">
                  <div class="card bg-dark custom-card blog-card">
                    <img src="{{ site.url}}{{ site.baseurl}}/static/img/projects/care.png" class="card-img-top p-1" alt="AgedCare">                    
                    <div class="card-body">
                      <h5 class="card-title d-inline-block">Aged Care System</h5>
                      <hr class="mx-auto" />
                      <p class="card-text">A web app for a aged care where user with different roles (Doctor, Nurse,
                        Admin) have their own accessibility.</p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col blog-card">
                <div class="card bg-dark custom-card">
                  <div class="card bg-dark custom-card blog-card">
                    <img src="{{ site.url}}{{ site.baseurl}}/static/img/projects/AOAS.png" class="card-img-top p-1" alt="Static Website">
                    <div class="card-body">
                      <h5 class="card-title d-inline-block">Static Website</h5>
                      <hr class="mx-auto" />
                      <p class="card-text">A static website for a decor shop made with HTML5/CSS3/JS and using
                        Bootstrap5 as a UI framework.</p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col blog-card">
                <div class="card bg-dark custom-card">
                  <div class="card bg-dark custom-card blog-card">
                    <img src="{{ site.url}}{{ site.baseurl}}/static/img/projects/confidential.png" class="card-img-top p-1" alt="Confidential App">
                    <div class="card-body">
                      <h5 class="card-title d-inline-block">An Authorization Server</h5>
                      <hr class="mx-auto" />
                      <p class="card-text">A central server which contains users and partner user will create app on the server. Guest user can login to the app using authorization token.</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- End Projects-->

<!-- Blogs -->
<section class="py-5" id="blogs">
  <div class="wow fadeIn animated" data-wow-delay="0.4s">
    <div class="text-center content-title">
      <h3 class="my-2 pt-5">Recent Blogs</h3>
      <div class="mx-auto title-underline"></div>
    </div>
    <div class="container">
      <div class="row py-3">
        <div class="col-md-12">
          <div class="row">
            <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4 card-container">
              {% for post in site.posts limit:6 %}
              <div class="col blog-card">
                <a href="{{ post.url }}" class="blog-link">
                  <div class="card bg-dark custom-card blog-card">
                    <img src="{{ site.url}}{{ site.baseurl}}{{ post.image_path }}" class="card-img-top p-1" alt="{{ post.title }}">
                    <div class="card-body">
                      <h5 class="card-title d-inline-block">{{ post.title }}</h5>
                      <span class="d-inline-block post-date font-small"> - {{ post.created | date: "%d %B %Y" }}</span>
                      <hr class="mx-auto" />
                      <p class="card-text">{{ post.description | truncatewords: 30 }}</p>
                    </div>
                  </div>
                </a>
              </div>
              {% endfor %}
            </div>
            <div class="col-md-12 mt-3">
              <a class="btn btn-sm btn-info pull-right" href="/blogs/">More...</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- End Blogs -->
{% include footer.html %}
