---
  layout: default
  title: All Blog posts
  description: Hi! I'm Shishir Subedi and I'm a freelance software engineer. Currently I'm pursuing masters in computer engineering specialization in Data science and analytics at Institute of Engineering Pulchowk Campus. I also write blogs and make videos on the topics I knew.
  image: /static/img/about/shishir2.jpg
---

{% include page_header.html %}

<!-- Blogs -->
<section class="pt-5">
  <div class="wow fadeIn animated" data-wow-delay="0.4s">
    <div class="text-center content-title">
      <h3 class="my-2 pt-5">{{ page.title }}</h3>
      <div class="mx-auto title-underline"></div>
    </div>
    <div class="container">
      <div class="row py-3">
        <div class="col-md-12">
          <div class="row">
            <div class="row row-cols-1 row-cols-md-3 g-4 card-container">
              {% for post in paginator.posts %}
              <div class="col blog-card">
                <a href="{{ post.url }}" class="blog-link">
                  <div class="card bg-dark custom-card blog-card">
                    <img src="{{ site.url}}{{ site.baseurl}}{{ post.image_path }}" class="card-img-top" alt="{{ post.title }}">
                    <div class="card-body">
                      <h5 class="card-title">{{ post.title }}</h5>
                      <h6 class="post-date font-small">{{ post.date | date: "%d %B %Y" }}</h6>
                      <hr class="mx-auto" />
                      <p class="card-text">{{ post.description | truncatewords: 30 }}</p>
                    </div>
                  </div>
                </a>
              </div>
              {% endfor %}
            </div>
          </div>
        </div>
        <div class="col-md-12 mt-5">
          <!-- Pagination links -->
          <nav aria-label="Page navigation example">
            <ul class="pagination justify-content-center">
              {% if paginator.previous_page %}
              <li class="page-item">
                <a class="page-link" href="{{ paginator.previous_page_path }}">&laquo;</a>
              </li>
              {% else %}
              <li class="page-item disabled">
                <span class="page-link">&laquo;</span>
              </li>
              {% endif %}
              {% for pageno in (1..paginator.total_pages) %}
                {% if pageno == paginator.page %}
                <li class="page-item active" aria-current="page">
                  <span class="page-link">{{ pageno }}</span>
                </li>
                {% elsif pageno == 1 %}
                <li class="page-item"><a class="page-link" href="/blogs">{{pageno}}</a></li>
                {% else %}
                <li class="page-item"><a class="page-link" href="{{ site.paginate_path | relative_url | replace: ':num', pageno }}">{{pageno}}</a></li>
                {% endif %}
              {% endfor %}
              {% if paginator.next_page %}
              <li class="page-item">
                <a class="page-link" href="{{ paginator.next_page_path }}">&raquo;</a>
              </li>
              {% else %}
              <li class="page-item disabled">
                <span class="page-link">&raquo;</span>
              </li>
              {% endif %}
            </ul>
          </nav>
        </div>
      </div>
    </div>
  </div>
  </div>
</section>
<!-- End Blogs -->

{% include footer.html %}
