---
layout: default
comments: true
---

{% include page_header.html %}

<!-- Blogs -->
<section class="py-5">
  <div class="wow fadeIn animated" data-wow-delay="0.4s">
    <div class="container">
      <div class="row py-3">
        <image class="img-fluid py-2" src="{{ site.url}}{{ site.baseurl}}{{ page.image_path }}" alt="{{ page.title }}"></image>
        <div class="col-md-12 text-center content-title">
          <div class="mt-3">
            <h3 class="mb-1">{{ page.title }}</h3>
            <div class="post-meta my-1">
              <div class="d-inline-block px-2">
                <i class="fa fa-calendar"></i><span class="px-2">Published on {{ page.created | date: "%d %B %Y" }}</span>
              </div>
              {% if page.updated %}
              <div class="d-inline-block px-2">
                <i class="fa fa-clock-o"></i><span class="px-2">Updated on {{ page.updated | date: "%d %B %Y" }}</span>
              </div>
              {% endif %}
            </div>
          </div>
          <!-- <div class="mx-auto title-underline"></div> -->
        </div>
        <div class="col-md-12">
          <div class="py-2 blog-content">{{ page.content }}</div>
        </div>
      </div>
      {% include  share.html %}
      <!-- <a class="d-inline-block text-white" href="{{ site.url}}{{ site.baseurl}}{{page.url}}#disqus_thread" style="text-decoration: none;">Join Discussion</a> -->
      {% if site.disqus.shortname %}
        {% include disqus_comments.html %}
      {% endif %}
    </div>
  </div>
</section>
<!-- End Blogs -->
{% include footer.html %}